%script{ src: javascript_path("index") }

%div.container
  %h1
    Hello World!!
  %div
    %button#alert.btn.btn-primary
      alert
  %div
    %a{ href: "/foo" }
      foo
    %a{ href: "/react" }
      react
