<script src="//fb.me/react-with-addons-0.13.1.min.js"></script>
<script src="//fb.me/JSXTransformer-0.13.1.js"></script>

<div id="example"></div>
<script src="<%= javascript_path("react_helloworld") %>" type="text/jsx"></script>
